<div class="side">
	<h2>ABOUT</h2>
	<div class="about">
	<img src="<%= data.baseUrl %>images/ayapi.jpg" class="photo">
	<p>
	<strong>ぁゃぴ：ayapi</strong>
	渋谷にしか居なぃギャルで、プログラマー
	JavaScriptずっとかぃてたけど今ゎなんかちがぅのかきたぃです
	</p>
	<ul class="account">
		<li class="icon-github"><a href="https://github.com/ayapi">github.com/ayapi</a></li>
		<li class="icon-twitter"><a href="https://twitter.com/upgrade_ayp">twitter.com/upgrade_ayp</a></li>
	</ul>
	</div>

	<h2>TAGS</h2>
	<ul class="tags">
	<% tags = [] %>
	<% posts.forEach(function(post){ %>
	  <% post.tags.forEach(function(tag){ %>
		<% if(tags.indexOf(tag) == -1){ %>
		  <% tags.push(tag); %>
		<% } %>
	  <% }) %>
	<% }) %>
	<% tags.forEach(function(tag){ %>
	  <li><a href="<%= data.baseUrl %>tags/<%=: tag | downcase %>/"><%= tag %></a></li>
	<% }) %>
	</ul>

	<h2>RECENT</h2>
	<ul class="recent">
	<% posts.forEach(function(post, i){ %>
	  <% if(i < 20){ %>
	  <li><a href="<%= data.baseUrl %><%= post.url %>"><%= post.title %></a></li>
	  <% } %>
	<% }) %>
	</ul>
</div>