<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="<%= data.baseUrl %>images/cabin.png">
    <link href="<%= data.baseUrl %>styles/main.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" href="<%= data.baseUrl %>feed.xml" title="RSS">
    <title><%= title %><% if(title){%> - <% } %><%= data.title %></title>
    <% if ( locals.description ) { %>
      <meta name="description" content="<%= description %>">
    <% }else{ %>
      <meta name="description" content="<%= data.description %>">
    <% } %>
  </head>
  <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="wrapper">
      <div class="content">
      <nav class="group">
        <h1 class="name">
          <a href="<%= data.baseUrl %>"><span>ay</span>a<span>p</span>i.github.io</a>
          <a href="<%= data.baseUrl %>feed.xml" title="RSS" class="icon-feed"> </a>
        </h1>
        <ul class="nav-links">
          <li class="text-link">
            <a href="<%= data.baseUrl %>archives.html">ARCHIVES</a>
          </li>
        </ul>
      </nav>
