<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="<%= data.baseUrl %>images/cabin.png">
    <link href="<%= data.baseUrl %>styles/main.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" href="<%= data.baseUrl %>feed.xml" title="RSS">
    <title><%= title %></title>
    <% if ( locals.description ) { %>
      <meta name="description" content="<%= description %>">
    <% } %>
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
      <nav class="group">
        <h1 class="name">
          <a href="<%= data.baseUrl %>"><span>ay</span>a<span>p</span>i.github.io</a>
          <a href="<%= data.baseUrl %>feed.xml" title="RSS" class="icon-feed"> </a>
        </h1>
        <ul class="nav-links">
          <li class="text-link">
            <a href="<%= data.baseUrl %>archives.html">ARCHIVES</a>
          </li>
        </ul>
      </nav>
